@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

* {
	font-family: 'Belanosima', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a {
	color: inherit;
	background-color: inherit;
}

a:hover {
	color: #6c6f85;
}

a:focus {
	color: #6c6f85;
}

small {
	text-align: center;
	background-color: inherit;
	font-size: 0.75em;
	color: inherit;
}

small:hover {
	color: #6c6f85;
}

small:focus {
	color: #6c6f85;
}

i {
	color: inherit;
	background-color: inherit;
}

h1 {
	color: #4c4f69;
	font-size: 2em;
	font-weight: 700;
}

h2 {
	color: #4c4f69;
	font-size: 1.6em;
	font-weight: 600;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	background-color: #dce0e8;
	color: #4c4f69;
}

.notice {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
	background-color: #04A5E5;
}

.sub-notice {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.4vw;
	color: #EFF1F5;
}

header {
	padding: 5vw;
	height: 40vw;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/SvenCutePuppy.webp);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-txt {
	text-shadow: 2px 2px 4px #000000;
	max-width: 35vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4em;
}

.header-txt h2 {
	color: #EFF1F5;
	font-size: 2em;
}

.header-txt h1 {
	color: #EFF1F5;
	font-size: 3em;
}

.header-txt p {
	color: #EFF1F5;
	font-size: 1.25em;
}

.header-txt button {
	font-size: 1.2em;
	padding: 0.4em;
	margin-top: 1em;
	color: #EFF1F5;
	background-color: #7287fd;
	outline-style: none;
	border-radius: 0.5em;
	border: none;
    cursor: pointer;
}

.header-txt button:hover {
	color: #CCD0DA;
}

.header-txt button:focus {
	color: #CCD0DA;
}

.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3vh;
	background-color: #DCE0E8;
	padding: 3em 0.5em;
	text-align: center;
}

.services h1 {
	font-size: 3em;
}

.services-col {
	display: flex;
	justify-content: space-evenly;
}

.serv-img {
    --g: 6px;     /* the gap */
    --b: 6px;     /* border thickness*/
    --c: #4c4f69; /* the color */
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    width: 30vw;
    aspect-ratio: 1 / 1.4;
    transition: .3s;
}

.serv-img:hover {
    --_p: 75%;
}

.serv-img:focus {
    --_p: 75%;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #7287FD80;
    cursor: pointer;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.serv-container {
	position: relative;
}

.serv-container:hover {
    --_p: 75%;
}

.serv-container:hover .overlay {
	height: 100%;
}

.serv-container:focus .overlay {
	height: 100%;
}

.text {
    white-space: nowrap; 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	font-size: 3em;
	text-shadow: 2px 2px 4px #000000;
    color: white;
}

.text p {
	margin-top: 1em;
	font-size: 0.4em;
	font-weight: 400;
}

.play-time {
	display: flex;
	justify-content: space-evenly;
	padding: 3em;
	background-color: #E6E9EF;
}

.play-time h1 {
	font-size: 3.5em;
}

.play-time p {
	font-size: 1.25em;
	color: #4c4f69;
}

.play-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.doggies {
	width: 30vw;
	aspect-ratio: 1 / 1;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/GrinchPups.webp);
	background-size: cover;
	background-position: center;
}

.footer {
	color: #4c4f69;
	background-color: #DCE0E8;
	display: flex;
	justify-content: space-evenly;
	padding: 3em;
}

.swing-on-by {
	width: 40vw;
	text-align: center;
}

.swing-on-by h1 {
	font-size: 2.25em;
}

.swing-on-by iframe {
	margin-top: 1em;
	width: 100%;
	aspect-ratio: 1.4 / 1;
	border: 0;
}

.dont-forget {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5em;
}

.dont-forget h1 {
	font-size: 3.2em;
}

.dont-forget p {
	font-size: 1.25em;
}

.dont-forget a {
	color: #7287FD;
}

@media (max-width: 1350px) {
	.swing-on-by {
		width: 30vw;
	}
}

@media (max-width: 1215px) {
	.text {
		font-size: 2.2em;
	}
}

@media (max-width: 1020px) {
	.header-txt h2 {
		font-size: 1.5em;
	}
	.header-txt h1 {
		font-size: 2em;
	}
	.header-txt p {
		font-size: 1em;
	}
	.header-txt button {
		font-size: 1em;
	}
	.dont-forget h1 {
		font-size: 2.8em;
	}
	.dont-forget p {
		font-size: 0.9em;
	}
	.play-text h1 {
		font-size: 2.7em;
	}
	.play-text p {
		font-size: 0.9em;
	}
}

@media (max-width: 860px) {
	.header-txt h2 {
		font-size: 1.25em;
	}
	.header-txt h1 {
		font-size: 1.75em;
	}
	.header-txt p {
		font-size: 0.8em;
	}
	.header-txt button {
		font-size: 0.8em;
		padding: 0.5em;
	}
	.dont-forget h1 {
		font-size: 2.2em;
	}
	.dont-forget p {
		font-size: 0.85em;
	}
	.play-text h1 {
		font-size: 2.5em;
	}
	.play-text p {
		font-size: 0.8em;
	}
}

@media (max-width: 855px) {
	.services-col {
		flex-direction: column;
		align-items: center;
	}
	.serv-img {
		width: 60vw;
	}
	.overlay {
		width: 60vw;
	}
	.text {
		font-size: 3.2em;
	}
	header {
		height: 60vw;
	}
	.header-txt h2 {
		font-size: 1.5em;
	}
	.header-txt h1 {
		font-size: 2em;
	}
	.header-txt p {
		font-size: 1em;
	}
	.header-txt button {
		font-size: 1em;
	}

}

@media (max-width: 750px) {
	.play-time {
		flex-direction: column;
		align-items: center;
		gap: 2em;
	}
	.play-text {
		text-align: center;
	}
	.doggies {
		width: 60vw;
	}	
	.play-text h1 {
		font-size: 2.8em;
	}
	.play-text p {
		font-size: 1em;
	}
	.serv-img {
		width: 70vw;
	}
	.overlay {
		width: 70vw;
	}
	.footer {
		flex-direction: column-reverse;
		align-items: center;
		gap: 3em;
	}
	.dont-forget {
		text-align: center;
	}
	.dont-forget h1 {
		font-size: 2.8em;
	}
	.dont-forget p {
		font-size: 1em;
	}
	.swing-on-by {
		width: 70vw;
	}
}

@media (max-width: 600px) {
	header {
		height: 80vw;
	}
}

@media (max-width: 510px) {
	header {
		height: 110vw;
		background-position: center;
	}
	.text {
		font-size: 2.5em;
	}
}

@media (max-width: 425px) {
	header {
		height: 160vw;
	}
	.text {
		font-size: 2em;
	}
	nav {
		flex-direction: column;
	}
	.notice {
		flex-direction: column;
		gap: 2em;
	}
	.sub-notice {
		flex-direction: column;
	}
}

@media (max-width: 345px) {
	header {
		height: 210vw;
	}
	.text {
		font-size: 1.8em;
	}
}
